body{
    display : flex ;
    flex-direction: column;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    button{
        color : inherit ;
    }
}
.dark_th{
    background-image:linear-gradient(rgb(4, 26, 64),rgb(48, 57, 8), rgb(41, 40, 54)) ;
    color : rgb(230, 229, 229) ; 
}
.light_th{  
    background-image:linear-gradient(rgb(179, 157, 230),rgb(248, 224, 172), rgb(168, 127, 255));
    color : black ; 
}
.header{
    /*  */
    
    /*  */
    display: flex ;
    justify-content: space-between;
    /*  */
    width : 90%;
    min-width: 300px;
    max-width: 680px;
    /*  */
    height: 35px ;
    padding : 10px ;
    background-color : rgba(255, 255, 255, 0.19) ;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    z-index: 99 ;
    align-items : center ;
    gap:10px ;
    .favorites {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap : 5px;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        scroll-marker-group : after ;
        div {
            width : auto ;
            height: 25px ;
            background-color: aqua;
            box-sizing: border-box;
            padding: 5px ;
            border-radius: 15px;
            display: flex;
            align-items: center;
            cursor:pointer ;

            background-color : rgba(255, 255, 255, 0.334) ;
            backdrop-filter: blur(2px);

            ul{
                margin : 0px ;
                padding : 0px ;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                li {
                    text-wrap: nowrap ;

                    span{
                        display: flex;
                        align-items: center;
                        height: 20px;
                        width : 20px ;
                        margin-right : 5px ;
                    }
                }
            }
        }
        .favorites::-webkit-scrollbar {
            display: none;
        }
        div:hover{
            background-color: rgba(255, 255, 0, 0.455);
        }   
    }
    .favorites::-webkit-scrollbar {
            display: none;
        }   
}
/* #search_but{
    border-radius : 0px ;
    border-color: transparent;
    height : 30px ;
}
input{
    border: 0px ;
    background: transparent;
    height : 30px ;
} */
/* #leftpart{
    display :flex ;
    position : relative;
    top : 0px  ;
    min-height : 30px ;
    background-color: aliceblue;   
} */
/* Search box  */
    .search_box{
        position: relative;
        height:30px ;
        width : 60%;
        min-width: 100px;
        max-width: 300px ;
        background-color :transparent; 
        display:flex ;
        flex-direction : column ;
        border-radius: 3px;
    }
    .search_bar{
        display:flex ;
        align-items:center; 
        background-color : rgba(255, 255, 255, 0.314) ;
        backdrop-filter: blur(2px);
        border-radius: 15px;
        gap: 2px ;
        padding:2px;
        height: 40px ;
    }
    input {
        border : none ;
        height : auto ;
        position : relative ;
        left : 5px ;
        width : 265px ;
        min-width : 10px ;
        background : transparent ;
        outline: none;
    }
    .suggestions{
        display: none ;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 8px ;
        width: auto;
    }
    .list{
        box-sizing: border-box;
        position : relative;
        width: 100%;
        padding: 0px;
        margin: 0px;
        background-color : rgba(255, 255, 255, 0.816) ;
        backdrop-filter: blur(10px);
        margin : 5px ;
        border-radius: 8px ;
        width: auto;
    }
    .list li{
        box-sizing: border-box;
        padding : 5px 10px ;
        cursor: pointer;
        border-radius:5px ;
        margin: 3px 3px;
        display: flex;
        align-items: center; 
        color : black
    }
    .list li:hover{
        background-color: rgb(228, 225, 225);
    }
    .search_button{
        height :25px ;
        min-width : 25px ;
        background: transparent;
        border : 0px ;
        border-radius: 50%;
        padding : 0px ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search_button:hover{
        background-color: rgb(241, 238, 238);
    }
    .search_button:active{
        background-color: blanchedalmond;
    }
    .search_img{
        width:100% ;
        height :100% ;
        padding : 0px ;
        margin : 0px ;
    }

/*  */
/* Right part of header*/
    .action_buttons{
        height: 35;
        display: flex ;
        justify-content: flex-end;
        align-items: center;
        /*  */
        width : 90%;
        min-width: 300px;
        max-width: 680px;
    /*  */
        margin: 5px;
    }
    #rightpart{
        display:flex ;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 200px;
        height: 35px;
        padding : 5px ;
        background-color : rgba(255, 255, 255, 0.19) ;
        backdrop-filter: blur(2px);
        border-radius: 20px;
        button{
            border-radius: 50%;
            display: flex;
            font-weight:bolder;
            justify-content: center;
            align-items:center ;
            width: 35px;
            height: 35px ;
            border : 0px ;
            background-color : rgba(255, 255, 255, 0.441) ;
            backdrop-filter: blur(2px);
        }
        button:hover {
            font-size: 15px ;
        } 
        span:hover{
            font-size : 27px ;
        }
        button:active{
            background-color: rgba(255, 255, 0, 0.492);
        }
    }
/*  */
#main{
    justify-self: center;
    width : 90%;
    min-width: 300px;
    max-width: 680px;
    min-height: 320px;
    padding-bottom : 10px ;
    background-color : rgba(255, 255, 255, 0.19) ;
    backdrop-filter: blur(2px);
    border-radius: 20px;
}
.Currentlocation{
    display: flex;
    flex-direction: flex;
    justify-content: space-between;
    width : 90%;
    min-width: 300px;
    max-width: 680px;
    align-items: center;    
    #locat{
        box-sizing: border-box;
        margin : 5px;
        padding : 5px ;
        height: 30px;
        display: flex;
        align-items:center ;
        flex-direction: row;
        justify-content: space-between;
        li{
            display:flex ;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            width:auto ;
            p {
                font-size:large;
                color:inherit;
                font-weight:bolder;
                margin: opx ;
                padding: 0px;
            }
        }
    }
    .star{
        display: none;
        cursor: pointer;
        color : rgba(255, 255, 0, 0.434) ;
    }
    .star:hover{
        font-size: 25px;
    }
    .starfill {
        color : yellow ;
        font-variation-settings: 'FILL' 1;
    }
}
#curweat{
    position: relative; 
    top:10px; 
    left: 10px
}
#current_time{
    position : relative ;
    left : 15px ;
    font-size : 10px ;
}
#icon_temp_sky_feels_like{
    display:flex ;
    justify-content: flex-start;
    align-items: center;
}
li{
    list-style-type:none;
}
#weather_descr{
    position: relative;
    left : 15px ;
}
#other_para{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height : 100px ;
    justify-content: center;
    align-items: center;
    /* border : 1px solid black; */
    position: relative;
    gap:10px;
    padding : 10px ;

}
#other_para div{
    display:flex ;
    flex-direction: column;
    width : 80px ;
    height : 80px ;
    justify-content:space-evenly;
    align-items: center;
    justify-items: center;
    align-content: center;
    background-color : rgba(255, 255, 255, 0.2) ;
    backdrop-filter: blur(2px);
    border-radius: 10px;
}
.other_para p {
    position: relative;
    left: 10px ;
    bottom: 10px;
}


/* Forecast part */

.Forecast_div{
    display: flex ;
    flex-direction: column;
    justify-self: center;
    width : 90%;
    min-width: 300px;
    max-width: 680px;
    min-height: 150px;
    background-color : rgba(255, 255, 255, 0.19) ;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding-bottom : 10px ;
    margin-top : 10px ;
    p {
        margin : 10px ;
    }
    .day_cards{
        box-sizing: border-box;
        margin : 10px ;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        div{
            box-sizing: border-box;
            height:auto ;
            width: 100px;
            padding : 5px ;
            margin : 5px ;
            background-color : rgba(255, 255, 255, 0.2) ;
            backdrop-filter: blur(2px);
            border-radius: 10px;
            cursor: pointer;
            ul{
                display : flex ;
                flex-direction: column ;
                margin : 0px ;
                padding : 0px ;
                justify-content: flex-start;
                li{
                    display:flex ;
                    align-items:center ;
                    justify-content: space-between;
                    p {
                        margin : 5px 0px ;
                    }
                    img {
                        width : 50px ;
                        height : 50px ;
                    }
                }
            }
        }
        div:hover{
            background-color:rgb(255, 156, 156);
        }
        div:active {
             background-color:rgb(255, 242, 156);
        }
    }
    .hour_cards{
        box-sizing: border-box;
        margin : 10px ;
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        overflow-x:scroll ;
        scroll-snap-type:x mandatory;
        justify-content:safe;
        scroll-marker-group : after ;
        div{
            box-sizing: border-box;
            height:auto ;
            min-width: 120px;
            padding : 10px ;
            margin : 5px ;
            background-color : rgba(255, 255, 255, 0.3) ;
            backdrop-filter: blur(2px);
            border-radius: 10px;
            ul{
                display : flex ;
                flex-direction: column ;
                margin : 0px ;
                padding : 0px ;
                justify-content: flex-start;
                li{
                    display:flex ;
                    align-items:center ;
                    justify-content: space-between;
                    p {
                        margin : 5px 0px ;
                    }
                    img {
                        width : 50px ;
                        height : 50px ;
                    }
                }
            }
        }
    }
    .hour_cards::scroll-marker-group {
        display : flex ;
        justify-content: center ;
        gap : .5em ;
        padding-bottom: 10px;
    }
    .hour_cards div::scroll-marker{
        content: '';
        width : 5px ;
        height : 5px ;
        border-radius: 50% ;
        background-color: rgb(59, 59, 111);
    }
    .hour_cards div::scroll-marker:target-current{
        background-color: rgb(208, 55, 55) ;
    }
    .hour_cards::-webkit-scrollbar {
        display: none;
    }

}

/* #lightmodebut{
    position:absolute;
    height : 20px ;
    top : 15px ;
    right : 15px ;
} */